/* src/styles/Sidebar.css */

.custom-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 20px;
  background-color: #012b53; /* Darker, more professional background */
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.sidebar-name {
  margin-left: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin: 0 1rem;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  width: 100%;
}

.custom-nav {
  flex: 1; /* Allows the nav to take up available space */
}

.nav-link-custom {
  font-size: large !important;
  margin: 10px 0;
  padding: 10px 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9) !important;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

.nav-link-custom .fa-icon {
  color: rgba(255, 255, 255, 0.7) !important;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: #1e9dff !important;
  font-weight: 550;

  background-color: rgba(30, 157, 255, 0.1);
}

.nav-link-custom:hover .fa-icon {
  color: #1e9dff !important;
}

.nav-link-custom.active {
  color: #1e9dff !important;
  font-weight: 550;
  background-color: rgba(30, 157, 255, 0.2);
}

.nav-link-custom.active .fa-icon {
  color: #1e9dff !important;
}

.sidebar-profile-container {
  width: 100%;
  padding: 20px;
  background-color: #012b53;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid #1e9dff;
}

.sidebar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1e9dff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-profile-name {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
